$large: '1200px';

h1 {
  color: blue;
  font-size: 4rem;

  &.secondary {
    color: red;

    span {
      font-weight: 700;

      @media (min-width: $large) {
        text-decoration: underline;
      }
    }
  }
}
